
h1 {
	text-align:center;
	color: blue;
}
form {
	margin-left: 40%;
	width: 100px;
}
body {
	text-align:center;
}
input {
	padding: 5px;
	margin: 10px;

}
button {
	text-align:center;
	margin: 20px;
	width: 100px;
	height: 50px;
	color: white;
	background: blue;
	padding: 5px;
}